.wordmark-2iDDfm::before{
    content:'game';
    font-size:14px;
    z-index:1000;
    position:fixed;
    display:inline-block;
    color:var(--text-color);
    height:auto;
    top:12px;
    left:12px;
    background-color:transparent
}
.wordmark-2iDDfm::after{
    content:'sense';
    font-size:14px;
    z-index:1000;
    position:fixed;
    display:inline-block;
    color:var(--primary-color);
    height:auto;
    top:12px;
    left:52px;
    background-color:transparent
}
